.preview-container{
  /* width:100vw; */
  height:80vh;
  overflow:hidden;
  position:relative;
  display: flex;
}

.preview-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.preview-container iframe {
  pointer-events: none;
}

.preview-container iframe {
  position: absolute;
  top: -60px;
  left: 0;
  width: 100%;
  height: calc(100% + 120px);
}

.preview-container .preview-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: absolute;
}

.preview-main-details h3 {
  color: #fff;
  font-size: 30px;
  margin: 15px 0;
}

.preview-main-details {  
  position: relative;
  top: 35%;
  padding-left: 3%;
  font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  display: flex;
  flex-direction: column;
}

.preview-overlay-buttons button {
  background-color: rgba(51, 51, 51, 0.4);
  color: #fff;
  border: none;
  min-width: 150px;
  padding: 0 38px;
  height: 50px;
  max-height: 50px;
  font-size: 18px;
  border-radius: 2px;
  margin-bottom: 15px;
  margin-right: 5px;
  cursor: pointer;
}

.preview-overlay-buttons button:hover {
  background-color: #e6e6e6;
  color: #000;
}
