.channel-container {
  padding: 0;
  margin-top: 0;  
}

.channel-header {
  display: flex;
  background-color:#f9f9f9;
  color:#141414;
  border: 2px solid green;
}

.channel-img-container {
  /* border: 2px solid red; */
  padding: 20px 0;
  margin-left: 60px;
}

.channel-img-container img{
  border-radius: 50%;
}

.channel-name-container {
  /* border: 2px solid yellow; */
  margin-left: 20px;
}

.channel-name-container .channel-name{
  /* border: 2px solid yellow; */
  margin: 0;
  margin-top: 2rem;
  font-size: 1.5rem;
}

.channel-name-container .channel-subscriber-count{
  /* border: 2px solid yellow; */
  margin: 0;
  font-size: 1rem;
}

.channel-container .back-browser-link { 
  margin-top: 1.5rem; 
  margin-bottom: 1rem;
}
.channel-container .back-browser-link a{
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  opacity: 0.7;
}

.channel-container .back-browser-link a:hover {
  text-decoration: underline;
  opacity: 1;
}