h3 {
  color: #e5e5e5;
}
a h3:hover {
  color: #fff;
}
.category {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.entity {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
.preview-categories-container{
  padding: 0 50px;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 0, 0, 0.3); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f00; 
}

entity-provider-container {
  position: relative;
  display: flex;
}

.entity-provider-container.small {
  width: 306px;
  height: 171px;
  display: inline-flex;
}

.entity-provider-container.small img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-right: 6px;
}