h3 {
  color: #e5e5e5;
}
a h3:hover {
  color: #fff;
}

/* .preview-categories-container{
  padding: 0 50px;
}

.category {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.entity {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;  
  border-radius: 8px;
}

.entity .item{
  width: 306px;
  height: 171px;
  display: inline-flex;  
  margin-right: 8px; 
}

.entity img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 8px;
} */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: rgba(14, 14, 14, 0.7); 
  border: 1px solid #e5e5e5;
  border-radius: 8px;
}

/* ::-webkit-scrollbar-thumb:hover {
  background: #f00; 
} */

.preview-categories-container {
  /* ContentRow */
  padding-left: 50px;
  overflow-x: hidden;
}

.entity {
  /* block-wrapper */
  display: flex;
  width: 100%;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  border-radius: 8px;
  border: 6px solid green;
}

.item {
  position: relative; 
  margin-right: 8px;
  cursor: pointer;
  border: 3px dotted blue;
  transition: all .25s ease-in-out;  
}

.item:hover {
  transform: scale(1.3);
}

.item .content {
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: center;
  transition: background-color ease 0.2s;  
}

.item .content:hover {
  /* background-color: rgba(0, 0, 0, 0.65); */
  cursor: pointer;
}
.item .content .Icon {
  font-size: 32px;
}
.item .content .Icon:first-of-type {
  color: red;
  margin-right: 25px;
}
.item .content .Icon:last-of-type {
  color: white;
}

.item iframe {
  border: 2px solid red;
  width: 320px;
  height: 180px;
}

.item iframe {
  border: 2px solid red;
}