h3 {
  color: #e5e5e5;
}
a h3:hover {
  color: #fff;
}

.preview-categories-container h3 {
  /* border: 2px solid white; */
  /* margin: 35px 0; */
}
/* .preview-categories-container{
  padding: 0 50px;
}

.category {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.entity {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;  
  border-radius: 8px;
}

.entity .item{
  width: 306px;
  height: 171px;
  display: inline-flex;  
  margin-right: 8px; 
}

.entity img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 8px;
} */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: rgba(14, 14, 14, 0.7); 
  border: 1px solid #e5e5e5;
  border-radius: 8px;
}

/* ::-webkit-scrollbar-thumb:hover {
  background: #f00; 
} */

.preview-categories-container {
  /* ContentRow */
  padding-left: 50px;
  width: 100%;
  /* border: 2px solid red; */
}

.entity {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  /* border: 6px solid green; */
}

.entity__inner {
  transition: 450ms transform;
  font-size: 0;
  white-space: nowrap;
  margin: 35px 0;
  /* padding-bottom: 10px; */
  /* border: 4px solid whitesmoke; */
}

.item {
  position: relative;
  display: inline-block; 
  width: 250px;
  height: 140.625px;
  font-size: 20px;
  margin-right: 8px;
  cursor: pointer;
  transition: 450ms all;
  transform-origin: center left;
  /* border: 2px dashed black;  */
}

.item__img {
  width: 250px;
  height: 140.625px;
  object-fit: cover;
}

.item__details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  font-size: 10px;
  opacity: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
  transition: 450ms opacity;
}

.item__details:after
.item__details:before{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: black;
}
.item__details:after {
  margin-top: -25px;
  margin-left: -25px;
  width: 50px;
  height: 50px;
  border: 3px solid #ecf0f1;
  line-height: 50px;
  text-align: center;
  border-radius: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1;
}


/* .item__details:before {
  content: '▶';
  left: 0;
  width: 100%;
  font-size: 30px;
  margin-left: 7px;
  margin-top: -18px;
  text-align: center;
  z-index: 2;
}
.item:hover .item__details {
  opacity: 1;
}
.item__title {
  position: absolute;
  bottom: 0;
  padding: 10px;
} */

.entity__inner:hover {
  transform: translate3d(-62.5px, 0, 0);
}
.entity__inner:hover .item {

  /* // Fade out every tile */
  opacity: .3;
}
  /* // And then grow the current tile and make it opaque again */
  .entity__inner:hover .item:hover{
    transform: scale(1.5);
    opacity: 1;
}
/* // And finally move all tiles right of the current tile to the right,
// so its flush against the hovered tile */
.item:hover ~ .item {
  transform: translate3d(125px, 0, 0);
}

.item .item__details {
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: center;
  transition: background-color ease 0.2s;  
}

/* .item .item__details:hover {
  background-color: rgba(0, 0, 0, 0.65);
  cursor: pointer;
} */

.item .item__details .Icon {
  font-size: 32px;
}
.item .item__details .Icon:first-of-type {
  color: red;
  margin-right: 25px;
}
.item .item__details .Icon:last-of-type {
  color: white;
}

.item iframe {
  /* border: 2px solid red; */
  width: 250px;
  height: 140.625px;
}
