.detailPane-container {
  height: 630px;
  background: black;
  width: 100%;
  position: absolute;
  border: 2px solid white;
  z-index: 99;
}

.detailPane-container .Icon {
  font-size: 32px;
  color: white;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.detailPane-container .pane-wrapper {
  padding: 2vw 4vw 0;
}

.detailPane-container .pane-wrapper .max-overview{
  max-width: 375px;
}

.detailPane-container .pane-wrapper .max-playlist{
  max-width: 175px;
}

.detailPane-container .pane-wrapper img {
  margin-bottom: 20px;
}