.detailPane-container {
  height: 480px;
  /* background: black; */
  width: 100%;
  position: relative;
  /* border: 2px solid white; */
  border-top: 2px solid red;
  border-bottom: 2px solid red;
  z-index: 99;
  margin-left: -25px;
}
.detailPane-container .pane-wrapper h3 {
  color: #e50914;
  margin: 15px 0;
}
.detailPane-container .Icon {
  font-size: 32px;
  color: white;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.detailPane-container .pane-wrapper {
  padding: 2vw 1.8vw 0;
}

.detailPane-container .pane-wrapper .max-overview{
  max-width: 375px;
}

.detailPane-container .pane-wrapper .max-playlist{
  max-width: 175px;
}

.detailPane-container .pane-wrapper .pane-img {
  margin-bottom: 20px;
}