header {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, .05)), url('../../assets/images/header-background.jpg');
  height: 100vh;
}

header nav {
  height: 90px;
}

nav .navbar-logo1 {
  display: inline-block;
  margin-left: 3%; 
  color: white;
  margin-top: 20px;
  width: 120px;
}

.pitch {
  width: 100%;
  color: white;
  display: flex;  
  flex-direction: column; 
  align-items: center;
  margin-top: 20vh;
}

.pitch .pitch-content h1 {  
  font-size: 3.625rem;
  margin: 0;
  padding: 0;
  width: 600px;
  text-align: center;
}

.pitch .pitch-content p {  
  font-size: 1.8rem;
  margin: 0;
  padding: 0;
  width: 600px;
  text-align: center;
}

.pitch .pitch-content h5 {  
  font-size: 1rem;
  margin-top: 20px;
  padding: 0;
  width: 600px;
  text-align: center;
}

.pitch > button {
  width: 300px;
  background-color: #e50914;
  color: #eff2f5;
  font-weight: 800;
}

.pitch > button:hover {
  color: #e50914;
  background-color: #eff2f5;
}
