html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #141414;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.App {
  min-width: 1050px;
  min-height: 100%;
  background-color: #141414;
}

.ErrorMessage {
  color: #fff;
  position: absolute;
  top: 25%;
  width: 100%;
  text-align: center;
  font-size: 18px;
}